//Copia la configuración de tu proyecto de firebase https://console.firebase.google.com

export const config = {
    apiKey: "",
    authDomain: ",
    databaseURL: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: ""
};


